<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><i class="bi bi-compass"></i> Northwind Traders</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                        <i class="bi bi-database"></i> Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-book"></i> Browse Categories</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-search"></i> Product Search</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-cash-coin"></i> Current Discounts</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                        <i class="bi bi-person"></i> Customers
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person-vcard"></i> Sign In</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-key"></i> Register</a></li>
                    </ul>
                </li>
            </ul>
            <a class="nav-link nav-item me-md-3 mb-2 mb-md-0 text-body-secondary" href="#"><i class="bi bi-cart"></i>
                Cart</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
                </form>
        </div>
    </div>
</nav>