@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-md-12 col-sm-12">
            <div class="p-4 m-2 mt-4 rounded-1 border border-secondary-subtle h-100">
                <h1>Northwind Traders</h1>
                <p>
                We have the worst prices and selection of low quality foods &amp;
                processed beverages on the planet! Check out our featured opposite-day discounts!
                </p>
                <p>
                For the least exceptional international cuisine, look no further.  For the best look much farther.
                </p>
                <hr class="my-4">
                <a class="btn btn btn-outline-success btn-lg" href="#" role="button"><i class="bi bi-bag"></i> Order Now</a>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-4 col-sm-12">
            <div class="p-4 m-2 mt-4 rounded-1 border border-secondary-subtle h-100">
                <h3>Tis the seasoning</h3>
                <div class="mb-4">
                Order today! Pay 12.5% over market on Chef Anton's Italian Seasoning!
                You don't want to make Chef Anton mad, do you (he'll come at you in your sleep)?
                </div>
                <i>Discount expires: 2/25/2027</i><br />
                <a class="discount-toast" data-product="Chef Anton's Italian Seasoning" data-discountcode="1234" data-discounttitle="12.5% Over" href="#">Discount Code</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="p-4 m-2 mt-4 rounded-1 border border-secondary-subtle h-100">
                <h3>For the roasters</h3>
                <div class="mb-4">
                Order today! Pay 22.5% over market on Barista Bill's Italian Roast!
                You don't want to make Barista Bill mad, do you (he'll come at you in your sleep too)?
                </div>
                <i>Discount expires: 2/25/2027</i><br />
                <a class="discount-toast" data-product="Barista Bill's Italian Roast" data-discountcode="1235" data-discounttitle="22.5% Over" href="#">Discount Code</a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="p-4 m-2 mt-4 rounded-1 border border-secondary-subtle h-100">
                <h3>It's 5 o'clock somewhere!</h3>
                <div class="mb-4">
                Order today! Pay 42.5% over market on Brewery Barry's IPA!
                You don't want to make Brewery Barry mad, do you (he'll come at you in your sleep too and he's ragefully drunk)?
                </div>
                <i>Discount expires: 2/25/2027</i><br />
                <a class="discount-toast" data-product="Brewery Barry's IPA" data-discountcode="1236" data-discounttitle="42.5% Over" href="#">Discount Code</a>
            </div>
        </div>
    </div>
</div>